.hero{
    flex-direction: row;
    margin: 100px;
}
.github {
    display: flex;
    flex-wrap: wrap;

}
.card {
    background-color: rgb(224, 233, 246);
    margin: 20px;
}
.left-container{
    text-decoration: solid;
    display: flex;
    width: min-content;
}

.right-container{
    
    margin-top: 50px;
}